<div id="nav-inner">
    <div id="nav-main">
        <div id="nav-logo">
            <img src="img/general/logo.png" />
            <span>liby.me</span>
        </div>
        <div id="nav-menu-toggle">
            <div class="nav-menu-toggle-bar"></div>
            <div class="nav-menu-toggle-bar"></div>
            <div class="nav-menu-toggle-bar"></div>
        </div>
    </div>
    <div id="nav-menu-outer">
        <ul id="nav-menu">
            <li id="nav-me">
                <a href="me.html">Me</a>
            </li>
            <li id="nav-artwork">
                <a href="artwork.html">Artwork</a>
            </li>
            <li id="nav-project">
                <a href="project.html">Project</a>
            </li>
            <li id="nav-article">
                <a href="article.html">Article</a>
            </li>
        </ul>
    </div>
</div>
