#hovering-board {
    width: 100%;
    height: 720px;
    overflow: hidden;
    background-color: rgba(24, 24, 24, 1);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
}

#hovering-board.mobile {
    -webkit-overflow-scrolling: touch;
    overflow: auto;
}

#hovering-board-inner {
    padding: 50px 100px;
    width: 2400px;
}

#hovering-board-row-1, #hovering-board-row-3 {
    display: flex;
}

#hovering-board-row-2 {
    display: flex;
}

#hovering-board-row-2-col-2 {
    width: 50%;
}

#hovering-board-row-2-col-1, #hovering-board-row-2-col-3 {
    width: 25%;
    display: flex;
    flex-flow: column;
}

#hovering-board-row-2-col-1-ul, #hovering-board-row-2-col-3-ul {
    display: flex;
    flex-flow: column;
}

.hovering-board-placeholder {
    height: 100px;
}

#spotlight {
    display: flex;
    height: 560px;
    flex-flow: column;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    color: rgba(255, 255, 255, 1);
}

#spotlight-inner {
    text-align: center;
}

#spotlight-icon {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 0 auto;
    overflow: hidden;
}

#spotlight-icon img {
    width: 100%;
    height: 100%;
}

#spotlight-name {
    margin-top: 20px;
    font-size: 22px;
}

#spotlight-formal-name {
    margin-top: -3px;
    font-size: 12px;
    color: rgba(150, 150, 150, 1);
}

#spotlight-description {
    font-size: 12px;
    letter-spacing: 1px;
    color: rgba(200, 200, 200, 1);
}

#spotlight-explore {
    margin-top: 10px;
    transition: all 0.2s;
    display: inline-block;
    line-height: 30px;
    border-radius: 2px;
    padding: 0 30px;
    border: 1px solid rgba(255, 149, 166, 1);
}

#spotlight-explore:hover {
    background-color: rgba(255, 149, 166, 0.1);
}

#hovering-board-row-1 .artwork, #hovering-board-row-3 .artwork {
    width: 25%;
}

.artwork {
    padding: 5px;
    height: 270px;
}

.artwork a {
    display: block;
    border-radius: 2px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.artwork .inner {
    transition: all 0.4s;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.artwork a:hover .inner {
    opacity: 1;
}

.artwork a .inner .title {
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
}

.artwork a .inner .subtitle {
    color: rgba(200, 200, 200, 1);
}

#new-article-section {
    margin: 40px auto;
    max-width: 1024px;
    width: 100%;
    border-top: 1px solid rgba(230, 230, 230, 1);
}

#new-article-list {
    display: flex;
    padding: 30px 0 0 0;
}

#new-article-list .article {
    width: 33.3333%;
}

#new-article-list .article a {
    display: block;
    margin: 10px;
    height: 160px;
    background-size: cover;
    background-position: center;
}

#new-article-list .article a .inner {
    transition: all 0.4s;
    opacity: 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    color: rgba(66, 66, 66, 1);
    height: 100%;
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
}

#new-article-list .article:hover a .inner {
    opacity: 1;
}

#new-article-list .article a .inner .title {
    font-size: 16px;
    color: rgba(20, 20, 20, 1);
}

#new-article-list .article a .inner .subtitle {
    color: rgba(150, 150, 150, 1);
}

@media(max-width: 1024px) {
    #hovering-board {
        height: 560px;
    }
    
    #hovering-board-inner {
        width: 1600px;
        padding: 10px;
    }
    
    .artwork {
        height: 200px;
    }
    
    #spotlight {
        height: 420px;
    }
    
    #hovering-board.mobile .hovering-board-placeholder {
        display: none;
    }
}

@media(max-width: 768px) {
    #hovering-board-inner {
        width: 1200px;
    }
    
    .artwork {
        height: 160px;
    }
    
    #spotlight {
        height: 340px;
    }
}

@media(max-width: 425px) {
    #hovering-board {
        height: 420px;
    }
    
    #hovering-board-inner {
        width: 1000px;
    }
    
    .artwork {
        height: 120px;
    }
    
    #spotlight {
        height: 260px;
    }
    
    #spotlight-icon {
        width: 60px;
        height: 60px;
    }
    
    #spotlight-name, #spotlight-formal-name, #spotlight-description, #spotlight-explore {
        margin-top: 5px;
    }
    
    #new-article-section {
        margin-top: 20px;
    }
    
    #new-article-list {
        padding-top: 10px;
        flex-flow: column;
    }
    
    #new-article-list .article {
        width: 100%;
        height: 240px;
    }
    
    #new-article-list .article a .inner {
        padding-top: 160px;
        height: 80px;
        background-color: transparent;
        opacity: 1 !important;
    }
}
