section .section-title {
    text-align: center;
    font-weight: normal;
    font-size: 20px;
}

section hr {
    width: 60px;
    height: 2px;
    border: none;
    background-color: rgba(255, 149, 166, 1);
}

#banner-section {
    height: 400px;
    background-size: cover;
    background-position: center;
}

#me-section {
    margin: 80px auto;
    width: 280px;
    text-align: center;
}

#me-icon {
    width: 90px;
    height: 90px;
    margin: auto;
    border-radius: 45px;
    overflow: hidden;
}

#me-icon img {
    width: 100%;
    height: 100%;
}

#me-name {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
}

#me-formal-name {
    color: rgba(150, 150, 150, 1);
}

#me-intro {
    margin-top: 20px;
    color: rgba(120, 120, 120, 1);
    line-height: 20px;
}

#me-media {
    margin-top: 20px;
    display: inline-flex;
    flex-flow: row;
    align-items: center;
}

#me-media a {
    transition: all 0.2s;
    display: block;
    margin: 5px;
    height: 30px;
    width: 30px;
    line-height: 32px;
    border-radius: 15px;
    text-align: center;
    background-color: rgba(220, 220, 220, 1);
}

#me-media a:hover {
    background-color: rgba(255, 149, 166, 1);
}

#me-media a i {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
}

#me-media a img {
    margin-top: 5px;
    width: 60%;
}

#skill-section {
    overflow: hidden;
    height: 400px;
}

#skill-header-list {
    height: 50px;
    z-index: 128;
}

.skill-header {
    transition: "background-color" 0.2s;
    width: 25%;
    float: left;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: rgba(250, 250, 250, 0.9);
    cursor: pointer;
}

.skill-header:hover {
    background-color: rgba(255, 255, 255, 0.95);
}

.skill-header:active {
    background-color: rgba(255, 255, 255, 1);
}

.skill-header.active {
    border-top: 2px solid rgba(255, 149, 166, 1);
    line-height: 46px;
    height: 48px;
    background-color: transparent;
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
}

#skill-list {
    z-index: 127;
    margin-top: -50px;
}

.skill {
    display: none;
    height: 400px;
    background-position: center;
    background-size: cover;
    color: rgba(240, 240, 240, 1);
}

.skill.active {
    display: block;
    height: 400px;
}

.skill .inner {
    height: inherit;
    padding: 0 50px;
    background-color: rgba(36, 24, 15, 0.7);
}

.skill .inner .intro {
    float: left;
    padding: 50px 0;
    width: 350px;
}

.skill .inner .intro p {
    line-height: 25px;
}

.skill .inner .skill-tree {
    float: right;
    padding: 80px 0 0 50px;
    width: calc(100% - 400px);
}

.skill .inner .skill-tree .skill-tree-item {
    text-align: center;
    line-height: 30px;
}

.skill .inner .skill-tree .skill-tree-item .name {
    width: 140px;
    margin-right: 30px;
}

.skill .inner .skill-tree .skill-tree-item .progress-outer {
    display: block;
    float: right;
    margin-top: 14px;
    width: calc(100% - 140px);
    max-width: 720px;
    height: 2px;
    background-color: rgba(220, 220, 220, 1);
}

.skill .inner .skill-tree .skill-tree-item .progress-outer .progress-bar {
    display: block;
    height: 2px;
    background-color: rgba(255, 149, 166, 1);
}

#project-section {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding: 80px 0;
}

#project-intro {
    margin: 40px auto;
    text-align: center;
    width: 60%;
    line-height: 20px;
}

#project-list {
    margin: 30px 0;
    padding: 0 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project {
    float: left;
    width: 25%;
    text-align: center;
}

.project a {
    transition: all 0.2s;
    padding: 10px;
    display: block;
    line-height: 20px;
}

.project a:hover {
    background-color: rgba(240, 240, 240, 0.3);
}

.project a:active {
    background-color: rgba(240, 240, 240, 0.5);
}

.project-cover {
    height: 140px;
    background-position: center;
    background-size: cover;
    border-radius: 2px;
}

.project-name {
    margin-top: 5px;
    font-size: 14px;
    color: rgba(66, 66, 66, 1);
}

.project-author {
    color: rgba(150, 150, 150, 1);
}

#more-project {
    width: 120px;
    text-align: center;
    display: block;
    margin: auto;
    padding: 0 15px;
    line-height: 35px;
    border: 1px solid rgba(255, 149, 166, 1);
    border-radius: 2px;
}

#more-project:hover {
    background-color: rgba(255, 149, 166, 0.1);
}

#more-project:active {
    background-color: rgba(255, 149, 166, 0.2);
}

#friend-section {
    padding: 30px 0;
    width: 100%;
    overflow: hidden;
    background-color: rgba(66, 66, 66, 1);
}

#friend-title {
    color: rgba(255, 255, 255, 1);
}

#friend-list-outer {
    margin-top: 30px;
    height: 120px;
    overflow-x: scroll;
}

#friend-list {
    height: 120px;
}

#friend-list a {
    float: left;
    width: 20%;
    min-width: 160px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#friend-list a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#message-section {
    padding: 30px 0;
    width: 100%;
    max-width: 524px;
    margin: 0 auto;
}

#message-form {
    padding: 20px;
    text-align: center;
}

#message-form input {
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
}

#message-form textarea {
    padding: 10px;
    height: 200px;
    line-height: 20px;
}

#message-form input, #message-form textarea {
    transition: all 0.2s;
    margin-top: 10px;
    width: calc(100% - 22px);
    border-radius: 2px;
    border: 1px solid rgba(230, 230, 230, 1);
}

#message-form input:hover, #message-form textarea:hover {
    border: 1px solid rgba(255, 149, 166, 0.5);
}

#message-form input:focus, #message-form textarea:focus {
    border: 1px solid rgba(255, 149, 166, 1);
}

#message-form button {
    transition: all 0.2s;
    margin-top: 10px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: transparent;
    border: none;
    border: 1px solid rgba(255, 149, 166, 1) !important;
    color: rgba(255, 149, 166, 1);
    border: none;
    border-radius: 2px;
}

#message-form button:hover {
    background-color: rgba(255, 149, 166, 0.1);
}

#message-form button:active {
    background-color: rgba(255, 149, 166, 0.2);
}

@media (max-width: 896px) {
    .project {
        width: 50%;
    }
    
    .project-cover {
        height: 160px;
    }
}

@media (max-width: 768px) {
    #banner-section {
        height: 300px;
    }
    
    #me-section {
        margin: 60px auto;
    }
    
    #skill-section {
        height: auto;
    }
    
    .skill.active {
        height: auto;
    }
    
    .skill .inner .intro {
        float: none;
        width: 100%;
        padding: 80px 0 30px 0;
    }
    
    .skill .inner .skill-tree {
        display: block;
        float: none;
        padding: 0;
        padding-bottom: 30px;
        width: 100%;
    }
    
    .skill .inner .skill-tree .skill-tree-items {
        text-align: center;
    }
    
    .project-cover {
        height: 140px;
    }
}

@media (max-width: 425px) {
    #banner-section {
        height: 200px;
    }
    
    #me-section {
        margin: 40px auto;
    }
    
    #skill-section {
        height: auto;
    }
    
    .skill.active {
        height: auto;
    }

    .skill .inner {
        padding: 0 20px;
    }
    
    .skill .inner .intro {
        float: none;
        width: 100%;
        padding: 80px 0 30px 0;
    }
    
    .skill .inner .skill-tree {
        display: none;
    }
    
    #project-intro {
        padding: 0 10px;
        width: auto;
    }
    
    .project {
        width: 100%;
    }
    
    .project.hidable {
        display: none;
    }
    
    .project-cover {
        height: 150px;
    }
}
