<div id="nav-title">
    <a href="../index.html">LIBY.ME</a> Admin
</div>
<ul id="sidebar">
    <li class="sidebar-section">
        <div class="sidebar-section-title">General</div>
        <ul class="sidebar-section-content">
            <li id="href-index">
                <a href="index.html">
                    <i class="fa fa-tachometer"></i>Dashboard
                </a>
            </li>
            <li id="href-account">
                <a href="account.html">
                    <i class="fa fa-user"></i>Account
                </a>
            </li>
            <li id="href-message">
                <a href="message.html">
                    <i class="fa fa-envelope-o"></i>Message
                </a>
            </li>
            <li>
                <a href="#" onclick="User.logout()">
                    <i class="fa fa-sign-out"></i>Logout
                </a>
            </li>
        </ul>
    </li>
    <li class="sidebar-section">
        <div class="sidebar-section-title">Artwork</div>
        <ul class="sidebar-section-content">
            <li id="href-edit-artwork">
                <a href="artwork_edit.html">
                    <i class="fa fa-picture-o"></i>New Artwork
                </a>
            </li>
            <li id="href-manage-artwork">
                <a href="artwork_manage.html">
                    <i class="fa fa-list-ul"></i>Manage Artwork
                </a>
            </li id="href-index">
        </ul>
    </li>
    <li class="sidebar-section">
        <div class="sidebar-section-title">Article</div>
        <ul class="sidebar-section-content">
            <li id="href-edit-article">
                <a href="article_edit.html">
                    <i class="fa fa-file-text-o"></i>New Article
                </a>
            </li>
            <li id="href-manage-article">
                <a href="article_manage.html">
                    <i class="fa fa-archive"></i>Manage Article
                </a>
            </li>
            <li id="href-article-comment">
                <a href="article_comment.html">
                    <i class="fa fa-comments"></i>Article Comment
                </a>
            </li>
        </ul>
    </li>
    <li class="sidebar-section">
        <div class="sidebar-section-title">Project</div>
        <ul class="sidebar-section-content">
            <li id="href-edit-project">
                <a href="project_edit.html">
                    <i class="fa fa-cube"></i>New Project
                </a>
            </li>
            <li id="href-manage-project">
                <a href="project_manage.html">
                    <i class="fa fa-cubes"></i>Manage Project
                </a>
            </li>
        </ul>
    </li>
</ul>
