<!DOCTYPE html>
<html>
    <head>
        <title>Liby.me - Admin Manage Artwork</title>
        <link rel="stylesheet" href="../css/lib/font-awesome.css" />
        <link rel="stylesheet" href="../css/admin/basic.css" />
        <script src="../js/lib/jquery.js"></script>
        <script>const PAGE = "manage-artwork"</script>
    </head>
    <body>
        <nav>
            <%- include("view/sidebar.html") %>
        </nav>
        <main>
            <div id="main-title">Manage Artwork</div>
            <div id="main-frame">
                <% if (artworks == undefined) { %>
                    <div class="empty">数据库错误</div>
                <% } else if (artworks.length == 0) { %>
                    <div class="empty">空</div>
                <% } else { %>
                    <table id="artwork-table">
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Subtitle</th>
                            <th>Type</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>View</th>
                            <th>Edit</th>
                            <!-- <th>Delete</th> -->
                        </tr>
                        <% artworks.forEach(function (artwork, i) { %>
                            <tr class="artwork" id="<%= artwork["_id"] %>">
                                <td><%= i + 1 %></td>
                                <td><%= artwork["title"] %></td>
                                <td><%= artwork["subtitle"] %></td>
                                <td><%= artwork["type"] %></td>
                                <td><%= artwork["date_time"] %></td>
                                <td>
                                    <select class="artwork-status" value="<%= artwork["status"] %>">
                                        <option value="0" <%= (artwork["status"] == 0 ? "selected" : "") %>>Draft</option>
                                        <option value="1" <%= (artwork["status"] == 1 ? "selected" : "") %>>Public</option>
                                        <option value="2" <%= (artwork["status"] == 2 ? "selected" : "") %>>Archived</option>
                                    </select>
                                </td>
                                <td><%= artwork["view"] %></td>
                                <td>
                                    <button class="artwork-edit small">Edit</button>
                                </td>
                                <!-- <td>
                                    <button class="artwork-delete small">Delete</button>
                                </td> -->
                            </tr>
                        <% }) %>
                    </table>
                <% } %>
            </div>
        </main>
    </body>
    <script src="../js/admin/basic.js"></script>
    <script>
        $(function () {
            ArtworkManage.initiate();
        })
        
        var ArtworkManage = {
            initiate: function () {
                this.initiateStatus();
                // this.initiateDelete();
                this.initiateEdit();
            },
            initiateStatus: function () {
                $(".artwork-status").change(function () {
                    var id = $(this).parent().parent().attr("id");
                    var status = parseInt($(this).val());
                    $.ajax({
                        url: "/ajax/admin?action=change_artwork_status",
                        type: "post",
                        data: { "artwork": id, "status": status },
                        success: function (result) {
                            var data = JSON.parse(result);
                            if (data["code"] != 0) {
                                alert(data["msg"]);
                                window.location.reload();
                            }
                        }
                    });
                });
            },
            // initiateDelete: function () {
            //     $(".artwork-delete").click(function () {
            //         if (confirm("Do you really want to delete this artwork?")) {
            //             var AUID = $(this).parent().parent().attr("id");
            //             $.ajax({
            //                 url: "/ajax/admin?action=delete_artwork",
            //                 type: "post",
            //                 data: { "artwork": AUID },
            //                 success: function (result) {
            //                     var data = JSON.parse(result);
            //                     if (data["code"] != 0) {
            //                         alert(data["msg"]);
            //                         window.location.reload();
            //                     }
            //                     else {
            //                         window.location.reload();
            //                     }
            //                 },
            //                 error: function () {
            //                     alert("Server connection error");
            //                 }
            //             });
            //         }
            //     });
            // },
            initiateEdit: function () {
                $(".artwork-edit").click(function () {
                    var AUID = $(this).parent().parent().attr("id");
                    window.location.href = "artwork_edit.html?a=" + AUID;
                });
            }
        }
    </script>
</html>
