<!DOCTYPE html>
<html>
    <head>
        <title>Liby.me - Admin Manage Project</title>
        <link rel="stylesheet" href="../css/lib/font-awesome.css" />
        <link rel="stylesheet" href="../css/admin/basic.css" />
        <script src="../js/lib/jquery.js"></script>
        <script>const PAGE = "manage-project"</script>
        <style>
            #project-table {
                width: calc(100% - 40px);
                margin: 20px;
            }
            
            #project-table tr:hover {
                background-color: rgba(250, 250, 250, 1);
            }
            
            #project-table th {
                border-bottom: 1px solid rgba(230, 230, 230, 1);
            }
            
            #project-table th, #project-table td {
                text-align: center;
                padding: 10px;
            }
        </style>
    </head>
    <body>
        <nav>
            <% include view/sidebar.html %>
        </nav>
        <main>
            <div id="main-title">Manage Project</div>
            <div id="main-frame">
                <% if (projects.length == 0) {%>
                    <div class="empty">空</div>
                <% } else { %>
                    <table id="article-table">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Author</th>
                            <th>URL</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Edit</th>
                        </tr>
                        <% projects.forEach(function (project) { %>
                            <tr class="project" id="<%= project["PUID"] %>">
                                <td><%= project["id"] %></td>
                                <td><%= project["name"] %></td>
                                <td><%= project["author"] %></td>
                                <td><a href="<%= project["url"] %>"><%= project["url"] %></a></td>
                                <td><%= project["date_time"] %></td>
                                <td>
                                    <select class="project-status" value="<%= project["status"] %>">
                                        <option value="0" <%= (project["status"] == 0 ? "selected" : "") %>>Draft</option>
                                        <option value="1" <%= (project["status"] == 1 ? "selected" : "") %>>Public</option>
                                        <option value="2" <%= (project["status"] == 2 ? "selected" : "") %>>Archived</option>
                                    </select>
                                </td>
                                <td>
                                    <button class="project-edit small">Edit</button>
                                </td>
                            </tr>
                        <% }) %>
                    </table>
                <% } %>
            </div>
        </main>
    </body>
    <script src="../js/admin/basic.js"></script>
    <script>
        $(function () {
            ProjectManage.initiate();
        });
        
        var ProjectManage = {
            initiate: function () {
                this.initiateStatus();
                this.initiateEdit();
            },
            initiateStatus: function () {
                $(".project-status").change(function () {
                    var PUID = $(this).parent().parent().attr("id");
                    var status = parseInt($(this).val());
                    $.ajax({
                        url: "/ajax/admin?action=change_project_status",
                        type: "post",
                        data: { "project": PUID, "status": status },
                        success: function (result) {
                            var data = JSON.parse(result);
                            if (data["error_code"] != 0) {
                                alert(data["error_log"]);
                                window.location.reload();
                            }
                        },
                        error: function () {
                            alert("Server connection error");
                            window.location.reload();
                        }
                    })
                });
            },
            initiateEdit: function () {
                $(".project-edit").click(function () {
                    var PUID = $(this).parent().parent().attr("id");
                    window.location.href = "project_edit.html?p=" + PUID;
                });
            }
        }
    </script>
</html>
