<!DOCTYPE html>
<html>
    <head>
        <title>Liby.me</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
        <link rel="shortcut icon" type="image/x-icon" href="img/general/favicon.ico" media="screen" />
        <link rel="stylesheet" href="css/lib/font-awesome.css" />
        <link rel="stylesheet" href="css/basic.css" />
        <link rel="stylesheet" href="css/article.css" />
        <script src="js/lib/jquery.js"></script>
        <script>const PAGE = "article";</script>
    </head>
    <body>
        <nav>
            <% include view/navbar.html %>
        </nav>
        <main>
            <% if (page == 1) { %>
                <section id="first-article-section">
                    <a href="passage.html?a=<%= articles[0]["AUID"] %>" id="first-article" style="background-image: url(<%= articles[0]["cover"] %>)">
                        <div class="article-mask">
                            <div class="inner" id="<%= articles[0]["AUID"] %>">
                                <div id="first-article-titles">
                                    <div id="first-article-title"><%= articles[0]["title"] %></div>
                                    <div id="first-article-subtitle"><%= articles[0]["subtitle"] %></div>
                                </div>
                                <div id="first-article-info">
                                    <div id="first-article-data">
                                        <%= articles[0]["username"] %> |
                                        <%= articles[0]["date_time"].toString().substring(0, 10) %> |
                                        <i class="fa fa-eye"></i>
                                        <%= articles[0]["view"] %> |
                                        <i class="fa fa-comments"></i>
                                        <%= articles[0]["comment"] %>
                                    </div>
                                    <div id="first-article-tags">
                                        <% articles[0]["tags"].split(", ").forEach(function (str) { %>
                                            <span class="tag"><%= str %></span>
                                        <% }); %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </section>
            <% } %>
            <section id="page-title-section">
                <div class="inner">Page <%= page %> / <%= max_page %>. Articles <%= (page - 1) * 5 + 1 %> - <%= (page - 1) * 5 + articles.length %></div>
            </section>
            <section id="article-list-section">
                <ul id="article-list">
                    <% for (var i = (page == 1) ? 1 : 0; i < articles.length; i++) { %>
                        <li class="article" id="<%= articles[i]["AUID"] %>">
                            <a href="/passage.html?a=<%= articles[i]["AUID"] %>">
                                <div class="article-cover" style="background-image: url(<%= articles[i]["cover"] %>)"></div>
                                <div class="article-info">
                                    <div class="article-title"><%= articles[i]["title"] %></div>
                                    <div class="article-subtitle"><%= articles[i]["subtitle"] %></div>
                                    <div class="article-data">
                                        <%= articles[i]["username"] %> |
                                        <%= articles[i]["date_time"].toString().substring(0, 10) %> |
                                        <i class="fa fa-eye"></i>
                                        <%= articles[i]["view"] %> |
                                        <i class="fa fa-comments"></i>
                                        <%= articles[i]["comment"] %>
                                    </div>
                                    <div class="article-content"><%- articles[i]["content"].replace(/\<[^\>]*\>/g, "") %>...</div>
                                </div>
                            </a>
                        </li>
                    <% } %>
                </ul>
            </section>
            <section id="pagination-section">
                <ul id="pagination">
                    <% if (page != 1) { %>
                        <li class="page-btn op" id="page-prev">
                            <a href="article.html?p=<%= page - 1 %>"><i class="fa fa-angle-left"></i>Prev</a>
                        </li>
                    <% } %>
                    <% if (max_page <= 5) { %>
                        <% for (var i = 1; i <= max_page; i++) { %>
                            <li class="page-btn<%= (i == page) ? " active" : "" %>">
                                <a href="article.html?p=<%= i %>"><%= i %></a>
                            </li>
                        <% } %>
                    <% } else { %>
                        <% if (middle || right) { %>
                            <li class="page-btn">
                                <a href="article.html?p=1">1</a>
                            </li>
                            ...
                        <% } %>
                        <% for (var i = start; i <= start + 4; i++) { %>
                            <li class="page-btn<%= (i == page) ? " active" : "" %>">
                                <a href="article.html?p=<%= i %>"><%= i %></a>
                            </li>
                        <% } %>
                        <% if (left || middle) { %>
                            ...
                            <li class="page-btn">
                                <a href="article.html?p=<%= max_page %>"><%= max_page %></a>
                            </li>
                        <% } %>
                    <% } %>
                    <% if (page != max_page) { %>
                        <li class="page-btn op" id="page-next">
                            <a href="article.html?p=<%= page + 1 %>">Next <i class="fa fa-angle-right"></i></a>
                        </li>
                    <% } %>
                </ul>
            </section>
        </main>
        <footer>
            <% include view/footer.html %>
        </footer>
    </body>
    <script src="js/basic.js"></script>
</html>
